#root {
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100vw;
}

.card-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  box-sizing: border-box;
  background-color: #646cffaa;
  border-radius: 8px;
  height: 100px;
  width: 265px;
  margin-bottom: 8px;
  font-size: 12px;
  padding: 8px;
}

.imagem {
  max-height: 100px;
}

.activity {
  display: flex;
  gap: 64px;
}

main div section {
  width: 300px;
  overflow: hidden;
}

div > section > h3 {
  font-size: 16px;
  height: 48px;
}

.overlay {
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.8);
  backdrop-filter: blur(4.5px);
  width: 100%;
  height: 100%;
  position: fixed;
  display:flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  background: #fff;
  border-radius: 8px;
  padding: 32px;
  color: #1a1a1a;
  text-align: left;
  font-weight: 600;

  display:flex;
  flex-direction: column;
  line-break: normal;
  overflow: hidden;
  max-width: 90%;
}

button.close {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #1a1a1a;
  border: 0;
  border-radius: 100%;
  height: 50px;
  width: 50px;
}

button.close:hover {
  color: #535bf2;
}

pre.pre {
  width: 300px;
  text-align: left;
  font-size: 10px;
  font-weight: 400;
  line-break: normal;
}

.token-error {
  color: #fff;
  border: 4px solid #E84855;
  border-radius: 16px;
  margin-top: 128px;
  font-weight: 600;
  padding: 8px 32px;  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  padding: 8px 16px;
  box-sizing: border-box;
}

.logos-container {
  display: flex;
  gap: 32px;
  width: 337px;
}

.logos {
  height: 28px;
}

.app-title {
  font-size: 16px;
  color: #06B2FC;
  font-family: 'Poppins', sans-serif;
}

.app-subtitle {
  font-size: 20px;
}

.buttons {
  display: flex;
  gap: 16px;
}

.buttons > select {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
}

.buttons > select:hover {
  border-color: #646cff;
}
.buttons > select:focus,
.buttons > select:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.buttons > button {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

.main-container {
  padding-top: 16px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
}

.main-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.icons-container {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}

.icons {
  padding: 0;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons:hover {
  background-color: #06B2FC;
}

.icons > img {
  width: 20px;
  height: 20px;
}

textarea {
  margin: 32px;
}

.text-area-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-area-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.text-area-buttons > .validate {
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.87);
}

.text-area-buttons > .validate:disabled {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.3);
}

.text-area-buttons > .send {
  background-color: #1a1a1a;
  color: #06B2FC;
}

.text-area-buttons > .send:disabled {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.3);
}